:root {
    --panel-left: 200px;
}

body {
    background-color: rgb(16, 16, 16);
    color: white;
    font-family: "Sour Gummy", sans-serif;
    margin-bottom: 2000px;
}

/* Navbar */

.navbar {
    position: relative;
    height: clamp(60px, 10vh, 80px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    border-bottom: 2px rgb(48, 48, 48) solid;
}

.hamburger-icon {
    flex: 1;
}

.hamburger-icon button {
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger-icon i {
    color: white;
    font-size: clamp(0.5rem, 3vh, 2rem);
}

.logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    pointer-events: none;
}

.logo-container h1 {
    font-size: clamp(2.75rem, 3vw, 4rem);
    text-align: left;
}

.nav-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: clamp(10px, 2vw, 20px);
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: clamp(0.5rem, 3vw, 2rem);
}

/* Navbar Media Tags */
@media only screen and (max-width: 800px) {
    .logo-container {
        position: absolute;
        left: clamp(100px, 20vw, 300px);
        pointer-events: auto;
    }

    .logo-container h1 {
        font-size: clamp(1.5rem, 5vw, 2.5rem);
        text-align: left;
    }

    .navbar {
        justify-content: space-between;
    }
}

/* Links */


.link-panel {
    position: fixed;
    display: flex;
    flex-direction: column;

    justify-content: center;

    width: clamp(40px, 10vw, 80px);
    height: 200px;

    top: 50%;

    transform: translateY(-50%);
    background-color: #1a1a1a;
    border: 2px solid #888;
    border-left: none;
    border-radius: 0 10px 10px 0;

    padding: 0.5rem;
    transition: width 0.3s ease, background-color 0.2s ease;
    overflow: hidden;
    gap: 10px;
}

.link-panel:hover {
    width: var(--panel-left);
}

.panel-links {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center; /* vertically align */

    gap: clamp(5px, 2vw, 10px);
    transition: 0.2s ease-in-out;
}

.panel-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    flex-grow: 1;

    text-align: center;

    text-decoration: none;
    color: white;

    width: 100%;

    text-decoration: none;
    font-size: 1.5rem;
    gap: 10px;

    transition: 200ms ease-in-out;
}

.panel-link span {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    text-align: center;
}

.link-panel:hover .panel-link span {
    opacity: 1;
}

.panel-link i {
    font-size: 3rem;
    transition: 200ms ease-in-out;
    align-items: center;
    justify-content: start;

    width: 75px;
}

.link-panel:hover .panel-link i {
    font-size: 2rem;
}

