:root {
    --panel-left: 200px;
}

body {
    background-color: rgb(16, 16, 16);
    color: white;
    font-family: "Sour Gummy", sans-serif;
    margin-bottom: 2000px;
}

/* Navbar */

.navbar {
    position: relative;
    height: clamp(60px, 10vh, 80px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    border-bottom: 2px rgb(48, 48, 48) solid;
}

.hamburger-icon {
    flex: 1;
}

.hamburger-icon button {
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger-icon i {
    color: white;
    font-size: clamp(0.5rem, 3vh, 2rem);
}

.logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    pointer-events: none;
}

.logo-container h1 {
    font-size: clamp(2.75rem, 3vw, 4rem);
    text-align: left;
}

.nav-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: clamp(10px, 2vw, 20px);
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: clamp(0.5rem, 3vw, 2rem);
}

/* Navbar Media Tags */
@media only screen and (max-width: 800px) {
    .logo-container {
        position: absolute;
        left: clamp(100px, 20vw, 300px);
        pointer-events: auto;
    }

    .logo-container h1 {
        font-size: clamp(1.5rem, 5vw, 2.5rem);
        text-align: left;
    }

    .navbar {
        justify-content: space-between;
    }
}

/* Links */

.link-panel {
    position: fixed;
    display: flex;
    flex-direction: column;

    width: clamp(40px, 10vw, 80px);
    height: 200px;

    top: 50%;
    left: 0;

    transform: translateY(-50%);
    background-color: #1a1a1a;
    border: 2px solid #888;
    border-left: none;
    border-radius: 0 10px 10px 0;

    padding: 1.5rem;
    transition: width 0.3s ease, background-color 0.2s ease;
    overflow: hidden;
    gap: 10px;
}

.link-panel.expanded {
    width: var(--panel-left);
}

#panel-toggle {
    position: fixed;
    top: 50%;
    left: 300px;

    transform: translateY(-50%);
    z-index: 1001;

    background: #1a1a1a;
    border: 2px solid #888;
    border-radius: 50%;
    width: clamp(20px, 10vw, 40px);
    height: clamp(20px, 10vw, 40px);

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    cursor: pointer;

    transition: left 0.3s ease;
}

.link-panel.expanded + #panel-toggle {
    left: var(--panel-left);
}

#panel-toggle i {
    padding: 2px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-panel.expanded button i {
    transform: rotate(180deg);
}

.link-panel.expanded .panel-links {
    align-items: start;
}

.link-panel.expanded .panel-links span {
    display: block;
}

.link-panel.expanded .panel-link i {
    font-size: 2rem;
}

.panel-links {
    display: flex;
    flex-direction: column;
    gap: clamp(5px, 2vw, 10px);
    padding-left: 5px;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.panel-links span {
    display: none;
}

.panel-links button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 2rem;
}

.panel-link {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    gap: 10px;

    transition: 200ms ease-in-out;
}

.panel-link i {
    font-size: 3rem;
    transition: 200ms ease-in-out;
    align-items: start;
}

